<div id='dialog' class="base-dialog">
    <div id="dialogBox" class="base-dialog-box animate__animated animate__fadeInDown">
        <div class="box-title" id="dialogTitle">title</div>
        <div class="box-content" id='dialogContent'>content</div>
        <div class="box-footer">
            <button class="base-button base-button--primary base-button--small" onclick='closeDialog()'>
                <span>确定</span>
            </button>
        </div>
    </div>
    <div class='base-dialog-modal animate__animated' id="dialogModal"></div>
</div>
