<script src="/assets/iconfont.js"></script>
<ul class="socical-list">
  <li><a><svg class="svg-icon"><use xlink:href="#icon-weixin"></use></svg> </a></li>
  <li><a><svg class="svg-icon"><use xlink:href="#icon-QQ-circle-fill"></use></svg> </a></li>
  <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="#icon-bilibili1"></use></svg> </a></li>
</ul>
<style type="text/css">
.socical-list{
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.socical-list li{
  margin-right: 2rem;
  font-size: 3rem;
  list-style: none;
}
</style>